@import "reset.css";
.ahri{
    width: 100%;
    height: 100px;
    transform: rotateX(30deg);
}
:root{
    --color:red;
}
div{
    background: var(--color);
}
p{
    color: #ff;
}

div{
    background: url("../src/icon/user.png");
}
.box1{
   background: url("../src/icon/dog.jpg"); 
}